nav {
width: 100%;
height: 65px;
background-color: gray;
}


.WAB {


    font-size: 30px;
    font-weight: 200;
    padding: 0.5px 1px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: white;
    
    
}
    
    
  
    
    
 
    
    
    
    
    
    
    
    
h5{
text-align: center;
font-family: fantasy;
font-size: 45px;
font-weight: 900;
}
.animate{
animation: sliderright 3s ease-in 0s reverse infinite both;

transform: translateX(-150px);

}



@keyframes Slidein{

from{
    translate: 150vw 0;
    scale: 200% 1;

}
to{
translate: 0 0;
scale: 100%;

}


}
 
p{

    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 150px;
    margin-right: 150px;
}




@keyframes scrollLeft{

    to{
        left: -200px;
    }

}


    h2{
text-align: center;
margin-left: auto;
margin-right: auto;
    }

   .SaoPaulo{
    display: block;
    margin-right: auto;
    margin-left: auto;
  

   }

 

   

  body{
    background-color: gray;
  }